#maincontent {
  .dataTables_wrapper {
    margin: 10px 0;

    .dataTables_length {
      select {
        line-height: 1.5em;
      }
    }

    .dt-buttons {
      display: none;
    }

    .table-responsive {
      margin: 0;

      table {
        margin: 5px 0;

        .link {
          width: 60px;

          .btn {
            margin: -5px 0;
          }
        }

        td.number {
          text-align: right;
        }

        th {
          // border-color: #ddd;
          // color: #333;
        }
      }
    }

    div.dataTables_info {
      margin-top: 5px;
      padding: 7px 0;
    }

    div.dataTables_paginate {
      margin-top: 5px;

      ul.pagination {
        float: right;
        padding: 0;
      }
    }
  }
}
