#maincontent {
  .cot-form {
    margin-top: 10px;

    form {
      .panel {
        margin-bottom: 10px;

        .panel-body {
          background-color: transparent;

          .form-group {
            margin-bottom: 10px;

            dl {
              margin-bottom: 0;

              dt {
                margin-bottom: 5px;
              }

              dd {
                background-color: #eee;
                border: 1px solid #ccc;
                border-radius: 4px;
                color: #333;
                font-size: 14px;
                padding: 6px 11px;
              }
            }
          }

          .grid-object {
            padding-bottom: 0;
            padding-top: 0;

            &.noTitle .grid-title {
              display: none;
            }

            table.grid-table {
              margin: 0 0 10px 0;

              td {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}
