#app-header {
  div.row {
    & > div {
      float: left;
      padding-left: 15px;
      padding-right: 15px;

      &.securesite {
        float: right;

        form {
          display: inline-block;
        }

        img {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}

#maincontent {
  .btn-group {
    button {
      margin: 0;
    }
  }

  button {
    margin: 0;
  }
}
